<!-- member-add.component.html -->

<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Member Name</label>
        <input type="text" class="form-control" 
        formControlName="MemberName" 
          #MemberName/>
      </div>
      <div *ngIf="angForm.controls['MemberName'].invalid && (angForm.controls['MemberName'].dirty || angForm.controls['MemberName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['MemberName'].errors.required">
          Member Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Member Bio </label>
        <textarea class="form-control" rows = 7 cols = "5"
        formControlName="MemberBio" 
        #MemberBio></textarea>
      </div>
      <div *ngIf="angForm.controls['MemberBio'].invalid && (angForm.controls['MemberBio'].dirty || angForm.controls['MemberBio'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['MemberBio'].errors.required">
          Member Bio is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Member Age</label>
        <input type="text" class="form-control" 
        formControlName="MemberAge" 
        #MemberAge/>
      </div>
      <div *ngIf="angForm.controls['MemberAge'].invalid && (angForm.controls['MemberAge'].dirty || angForm.controls['MemberAge'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['MemberAge'].errors.required">
          Member Age is required.
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"
        [disabled]="angForm.pristine || angForm.invalid"
        (click) = "addMember(MemberName.value, MemberBio.value, MemberAge.value)">Create Member</button>
      </div>
    </form>
  </div>
</div>