<ng2-slim-loading-bar color="red"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="member/create" class="nav-link" routerLinkActive="active">
          Create Member
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="members" class="nav-link" routerLinkActive="active">
          Members
        </a>
      </li> 
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>